---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "variables";
@import "spacing";
@import "mixins";

blockquote,
p,
section,
section * {
  max-width: $max-width;
}

blockquote {
  @extend p;
  margin: 0;
  padding: 64px 20px;

  small {
    @extend h4;
    display: block;

    &::before {
      content: "\2014\2002";
    }
  }
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
    @extend .mb-5;

    flex: 0 0 300px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: normal;
    color: $header-text-color;
    background-color: $header-background-color;
    background-image: -webkit-linear-gradient(355deg, $header-background-gradient-start-color 0%, $header-background-gradient-end-color 45%);

    clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);

    .header-image-container {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      z-index: -2;
    }

    .header-image-overlay {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .header-image-overlay-blue {
      background-color: rgba(0, 164, 255, 0.8);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .header-image-overlay-navy {
      background-color: rgba(20, 34, 61, 0.8);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .header-image-overlay-teal {
      background-color: rgba(0, 92, 112, 0.8);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .header-content {
      margin-top: -40px; // visual centering bacause of the clip path
    }

    h1, h2, h3, h4, h5, h6, p {
      @extend .m-0;
      @extend .mb-1;
    }

    h1 {
        font-family: Bitter, serif;
        font-size: 40px;

        @include media-max-size(sm) {
          font-size: 32px;
        }
    }

    h3 {
      font-family: Bitter, serif;
      font-size: 20px;
    }

    h4 {
      font-weight: normal;
    }

    a {
      color: $header-links-color;
      &:hover {
        color: $header-links-color-hover;
      }
    }

    img {
      @extend .mb-2;
    }
}

a {
  font-weight: bold;
  text-decoration: none;
  color: $links-color;

  &:hover {
    color: $links-color-hover;
    transition: all 0.20s ease;
    cursor: pointer;
    cursor: hand;
  }
}

img {
  display: block;
  max-width: 100%;
}

footer {
    margin-top: 16px;
    padding: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: $footer-background-color;
    font-size: 14px;
    color: #8C8CA2;

    a {
        font-weight: bold;
        text-decoration: none;
        color: $footer-links-color;

        &:hover {
            color: $footer-links-color-hover;
            transition: all .20s ease;
            cursor: pointer;
            cursor: hand;
        }
    }
}

main {
  @extend .flex-vertical-container;
}

section {
  @extend .flex-vertical-container;
  @extend .pl-3;
  @extend .pr-3;
  @extend .mb-5;

  width: calc(100% - 32px);
  // fill the available space
  flex: 2 auto;
  min-height: 100%;

  @include media-max-size(sm) {
    font-size: 18px;
  }

  h1,
  h2,
  h3 {
    font-family: Bitter, serif;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5em;
  }

  p {
    margin: 0 0 2em;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  .section-title {
    font-family: Bitter, serif;
    font-size: 20px;
    color: #4A4A4A;
    text-align: left;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 32px;

    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    h3 {
      margin: 0;
    }
  }
}

section.text-left {
  align-items: flex-start;
}

.about {
  width: 100%;
}

.full-width {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  img {
    object-fit: cover;
    width: 100%;
  }
}

/* Icons */
.flex-vertical-container {
  // vertically and horizontally center children
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa {
  font-size: 24px;
  margin: 0 10px;
}

.project-intro {
  font-family: $base-font-family;
  font-size: 18px;
  color: #8C8CA2;
  line-height: 32px;
}

.projects-container {
  max-width: 1200px;

  @include grid-center-last(2);

  .project-card {
    h4 {
      font-family: Bitter, serif;
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 8px;
    }

    p {
      margin-top: 4px;
      color: #8C8CA2;
      font-size: 14px;
    }
  }
}

.view-more-link {
  text-transform: uppercase;
  font-size: 14px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #C4C4C4;
  width: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.work-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;

  .work-card {
    flex: 1 0 calc(50% - 8px);
    margin: 4px;

    @include media-max-size(sm) {
      flex-basis: calc(100% - 8px);
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.full {
  flex-basis: 100%;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  font-size: 14px;
  line-height: 24px;

  .link-section {
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.09);

    display: flex;
    align-items: center;

    flex: 0 0 calc(50% - 36px); // 32 accounting for padding + 4 min distance

    @include media-max-size(sm) {
      flex: 1 0 calc(100% - 32px);
    }

    img {
      width: 80px;
      display: block;
    }

    .thumbnail {
      .icon {
        display: block;
      }
    }

    .description {
      flex: 0 1 auto;
      margin-left: 16px;

      * {
        margin: 0;
      }
    }
  }
}

.icons-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  align-items: baseline;
  justify-content: center;

  .icon {
    @extend .m-2;
    width: 110px;
    font-size: 14px;
    line-height: 24px;
    color: #8C8CA2;
    text-align: center;
  }
}

.project-description {
  @extend .text-left;
}

.team {
  h2 {
    font-family: Bitter, serif;
    font-size: 16px;
    color: #8C8CA2;
    line-height: 32px;
    margin-bottom: 0;
  }

  p {
    font-family: $base-font-family;
    font-size: 14px;
    color: #8C8CA2;
    line-height: 22px;
    margin-top: 4px;
  }
}

.project-testimonial {
  background: #F8F8F8;

  h4 {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    font-family: Bitter, serif;
    font-size: 12px;
    color: #00B1AA;
    line-height: 32px;
    margin-top: 24px;
  }

  p {
    font-family: $base-font-family;
    font-size: 22px;
    color: #1D2E37;
    line-height: 32px;
    margin-bottom: 0;
    font-weight: 600;
  }
}

.contact {
  background: #fff;
  text-align: left;
  margin: 0;
  padding: 80px 20px;

  h3 {
    font-family: $base-font-family;
    font-size: 14px;
    color: #8C8CA2;
  }

  span {
    font-family: Bitter, serif;
    font-size: 36px;
    color: #1D2E37;
  }
}

.video-container {
  .video {
    max-width: $max-width;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

figcaption {
  font-size: 14px;
  color: #8C8CA2;
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

ul {
  margin: 0;
}

li:not(:last-child) {
   margin-bottom: 0.5em;
}
