---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:     30px;

$text-color:        #ffffff;
$links-color:       #ffffff;
$links-color-hover: #ff9c45;
$background-color:  #4ca299;

$base-font-size: 18px;
$base-font-family: Lato, Arial;

body {
    background-color: $background-color;
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
}

html, body, .container, .home {
    height: 100%;
    width: 100%;
}

a {
    color: $links-color;
    
    &:hover {
        color: $links-color-hover;
    }
}

/* Layout */

#coming-soon {
    text-align: center;
    margin: $spacing-unit;
    
    img {
        margin: 0 auto;
        display: inline-block;
    }
    
    #social-links {
        margin: 20px auto;
    }
    
    #coming-soon-header {
        font-family: 'Cookie';
        font-weight: 400;
        font-size: 100px;
    }
    
    .coming-soon-copy-container {
        font-weight: 300;
    }
}

.container-center-vertical {
    display: table;
    height: 100%;
    
    .center-vertical {
        display: table-cell;
        vertical-align: middle;
    }
}

/* Font Awesome Icons */

.fa {
    font-size: 32px;
    margin: 0px 10px;
}

a {
    .fa {
        color: $text-color;
    }
    
    &:hover {
        .fa {
            color: inherit;
        }
    }
}

/* iPhone 5 */

@media screen and (max-width: 480px) {
    
    #coming-soon {
        #coming-soon-header {
            font-size: 50px;
        }
    }
    
}
