---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset  "utf-8";

$spacing-unit: 30px;

$white: white;
$aquamarine: #1cb2ab;

$text-color: #333333;
$links-color: $aquamarine;
$links-color-hover: darken($links-color, 20%);
$background-color: $white;

$header-text-color: $white;
$header-links-color: $white;
$header-links-color-hover: #ff9c45;
$header-background-color: $aquamarine;
$header-background-gradient-start-color: #5CD8D2;
$header-background-gradient-end-color: #00B1AA;

$footer-text-color: $text-color;
$footer-links-color: #8c8ca2;
$footer-links-color-hover: $links-color;
$footer-background-color: #fafafa;

$base-line-height: 24px;
$base-font-size: 14px;
$base-font-family: Raleway, Arial;

header {
    flex: 4 0 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;

    color: $header-text-color;
    background-color: $header-background-color;
    background-image: -webkit-linear-gradient(355deg, $header-background-gradient-start-color 0%,
                                                      $header-background-gradient-end-color 45%);
    background-image: -o-linear-gradient(355deg, $header-background-gradient-start-color 0%,
                                                 $header-background-gradient-end-color 45%);
    background-image: linear-gradient(85deg, $header-background-gradient-start-color 0%,
                                             $header-background-gradient-end-color 45%);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);

    div {
      height: 80%;
    }

    h1, h4 {
        margin: 4px;
    }

    h1 {
      font-family: Bitter, serif;
    }

    h4 {
        font-weight: normal;
    }

    a {
        font-weight: bold;
        text-decoration: none;
        color: $header-links-color;

        &:hover {
            color: $header-links-color-hover;
        }
    }
}

footer {
    height: 80px;
    background-color: $footer-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: $links-color;

    &:hover {
        color: $links-color-hover;
    }
}

footer {
    a {
        font-weight: bold;
        text-decoration: none;
        color: $footer-links-color;

        &:hover {
            color: $footer-links-color-hover;
        }
    }
}

section {
    padding: 0 10px;
    margin: 20px auto;
    max-width: 620px;
    // fill the available space
    flex: 2 auto;
    min-height: 100%;
}

/* Icons */

.flex-vertical-container {
  // vertically and horizontally center children
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa {
    font-size: 24px;
    margin: 0 10px;
}

/* Header */
header img {
  margin: 20px;
}
