<footer>
  <div class="social-links">
      <a href="https://www.twitter.com/jexyla"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/jexyla"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.dribbble.com/jexyla"><i class="fa fa-dribbble"></i></a>
      <a href="https://www.behance.net/jexyla"><i class="fa fa-behance"></i></a>
      <a href="https://www.instagram.com/jexyla"><i class="fa fa-instagram"></i></a>
  </div>
  <br>Made with  ❤  by jexyla</br>
</footer>
