$breakpoints: (
  xs: 0px,   // Extra small devices (portrait phones, less than 576px)
  sm: 576px, // Small devices (landscape phones, 576px and up)
  md: 768px, // Medium devices (tablets, 768px and up)
  lg: 992px, // Large devices (desktops, 992px and up)
  xl: 1200px // Extra large devices (large desktops, 1200px and up)
);

@mixin media-max-size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin media-min-size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin grid-center-last($columns) {
	$total_columns: $columns * 2;
	$span: $total_columns / $columns;
	$offset: $columns - 1;
	$nth-child: if( $columns % 2 == 0, 'odd', 'even' );

	display: grid;
  grid-gap: 1.5em;
	grid-template-columns: repeat( $total_columns, 1fr );

	& > * {
		grid-column: span $span;

		&:nth-last-child(#{$offset}):nth-child(#{$nth-child}) {
			grid-column: $span / span $span;
		}
	}

  @include media-max-size(sm) {
    grid-template-columns: 1fr;
  }
}
