$spacing: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 16px,
  4: 32px,
  5: 64px
);

$spacing-alias: (
  margin: "m",
  padding: "p"
);

@function space-for-unit($unit) {
  @return map-get($spacing, $unit);
}

@mixin margin($top, $right: $top, $bottom: $top, $left: $top) {
  $space: space-for-unit($top);
  margin: $space;
}

@mixin make-spacing($type, $unit) {
  $space: space-for-unit($unit);
  $alias: map-get($spacing-alias, $type);
  .#{$alias}-#{$unit} {
    #{$type}: $space !important;
  }

  .#{$alias}t-#{$unit} {
    #{$type}-top: $space !important;
  }

  .#{$alias}l-#{$unit} {
    #{$type}-left: $space !important;
  }

  .#{$alias}b-#{$unit} {
    #{$type}-bottom: $space !important;
  }

  .#{$alias}r-#{$unit} {
    #{$type}-right: $space !important;
  }
}

@mixin spacing($unit) {
  @include make-spacing(margin, $unit);
  @include make-spacing(padding, $unit);
}

@include spacing(0);
@include spacing(1);
@include spacing(2);
@include spacing(3);
@include spacing(4);
@include spacing(5);
